---
layout: default
---

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Problem with your device?</div>
            <div class="intro-heading">Let me take care of IT.</div>
            <a href="tel:{{ site.phone | remove: ' ' }}" class="btn btn-xl"><i class="fas fa-phone"></i>:  {{ site.phone }}</a>
        </div>
    </div>
</header>

{% include services.html %}
{% include example_gallery.html %}
{% assign referrals = site.posts | where_exp: "post", "post.referral" %}
{% include referral-slider.html referrals=referrals facebook=true %}
{% include team.html %}
{% include footer.html %}
{% assign posts = site.posts | where_exp: "post", "post.category != training-card" | where_exp: "post", "post.category != website" %}
{% include modals.html posts=posts %}
