<!-- Portfolio Grid Section -->
    <section id="example-gallery" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Example Work</h2>
                    <h3 class="section-subheading text-muted">Recent projects include:</h3>
                </div>
            </div>
            {% assign filtered_posts = site.posts | where: "category", "Example" %}
            {% include masonry_grid.html posts= filtered_posts  %}
        </div>
    </section>
