<!-- SignUp -->
    <section id="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sign Up for Monthly Tips in Your Mailbox.</h2>
                    <h3 class="section-subheading text-muted">Introduce a keyboard shortcut one at a time, at pace that will help you commit to memory.</h3>
                    <p>
                        It is no good having too much information to memorise all at once.
                        In our busy lives, we just want the bare minimum to complete a job and move on.
                    </p>
                    <p>
                        However, if we can just start chipping away at a task like learning a skill,
                        or memorising a bank of knowledge, we can be richly rewarded with new confidence and abilities.
                    </p>
                    <p>
                        For this reason I have designed a system whereby just one item at a time is introduced.
                        Just try the key combinations provided when you recieve the email and practice using it
                        that month before the next arrives.
                    </p>
                    {% include mailerlite.html %}
                </div>
            </div>

        </div>
    </section>
